.roundbtn {
    width: 200px;
    border-radius: 60%;
    background: darkslategray;
    color: white;
    font-size: 1.5em;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    border: none;
    height: 200px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (min-width: 900px) and (max-width :1028px) {
    .roundbtn {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width :900px) {
    .roundbtn {
        width: 200px;
        height: 200px;
        margin-left: 20px;
        margin-right: 10px;
    }
}